<article class="signup__page">
  <h2>Create an account</h2>
  <form class="signup__form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
        type="text"
        matInput
        formControlName="firstName"
        [errorStateMatcher]="matcher"
        placeholder="First Name"
      />
      @if (signupForm.get('firstName')?.hasError('required')) {
      <mat-error>First Name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
        type="text"
        matInput
        formControlName="lastName"
        [errorStateMatcher]="matcher"
        placeholder="Last Name"
      />
      @if (signupForm.get('lastName')?.hasError('required')) {
      <mat-error>Last Name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Email"
      />
      @if (signupForm.get('email')?.hasError('email') &&
      !signupForm.get('email')?.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
      } @if (signupForm.get('email')?.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input
        type="text"
        matInput
        formControlName="phoneNumber"
        [errorStateMatcher]="matcher"
        placeholder="Phone Number"
      />
      @if (signupForm.get('phoneNumber')?.hasError('required')) {
      <mat-error>Phone Number is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        [errorStateMatcher]="matcher"
        placeholder="Password"
      />
      @if (signupForm.get('password')?.hasError('minlength') &&
      !signupForm.get('password')?.hasError('required')) {
      <mat-error>Please enter a valid password</mat-error>
      } @if (signupForm.get('password')?.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="confirmPassword"
        [errorStateMatcher]="matcher"
        placeholder="Confirm Password"
      />
      @if (signupForm.get('confirmPassword')?.hasError('mustMatch') &&
      !signupForm.get('confirmPassword')?.hasError('required')) {
      <mat-error>Passwords must match</mat-error>
      } @if (signupForm.get('confirmPassword')?.hasError('required')) {
      <mat-error>Confirm Password is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <button mat-raised-button type="submit">Sign up</button>
  </form>
</article>
