nav {
    background-color: var(--mat-sys-primary-container);
    min-height: 35px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
